/*подключение сторонней библиотеки css из node-modules, но почему то не работает с postcss*/
/*@import url("~flag-icon-css/css/flag-icon.css");*/ 

.menu .title{
    padding: 0 6px 0 16px;
    background: url(plus.png) left 1px no-repeat;
    background-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

.menu .list{
    display: none;
    margin: 0;
}

.menu .list a{
    color: blue;
}

.menu.open .list{
    display: block;
}

.menu.open .title{
    background-image: url(minus.png)
}

.flex{
    display: flex;
}